<view title="'Home'" left-buttons="leftButtons">
    <header-bar title="'FieldReporter'"
        type="bar-dark"
        align-title="center"
        left-buttons="leftButtons"></header-bar>

    <content has-header="true">
        <list>
            <p ng-show="!fieldReports.length">No fields reports have been written.</p>
            <item ng-repeat="fieldReport in fieldReports| orderBy:'createdAt':true track by fieldReport.id"
                ng-href="#/report/{{fieldReport.id}}">
                {{ fieldReport.title }}
            </item>
        </list>
    </content>
</view>
