<view title="'Home'" left-buttons="leftButtons">
    <header-bar title="'New Field Report'"
        type="bar-dark"
        align-title="center"
        left-buttons="leftButtons"></header-bar>

    <content has-header="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Title" ng-model="report.title" ng-change="saveUnfinishedFieldReport()">
            </label>
            <label class="item item-input">
                <span class="input-label" style="flex: 1 0 50px;">Date</span>
                <input type="date" ng-model="report.date" ng-change="saveUnfinishedFieldReport()">
            </label>
            <label class="item item-input">
                <textarea placeholder="Report" rows="8" ng-model="report.text" ng-change="saveUnfinishedFieldReport()"></textarea>
            </label>
        </div>
        <div class="list attachments">
            <div class="row item item-divider">
                <div class="col col-90">Attachments</div>
                <div class="col col-10">
                    <i class="icon ion-plus"></i>
                     <input type="file" ng-file-select="onFileSelect($files)">
                </div>
            </div>
            <list show-delete="true">
                <item ng-repeat="file in report.attachments" show-delete="true" can-delete="true" on-delete="removeAttachment(file)">
                    {{ file.name }}
                </item>
            </list>
        </div>
        <div class="row padding">
            <div class="col col-50">
                <button class="button button-block button-positive" ng-click="saveReport()" ng-show="report.createdAt === null">Create</button><button class="button button-block button-positive" ng-click="saveReport()" ng-show="report.createdAt !== null">Update</button>
            </div>
            <div class="col">
                <button class="button button-block button-assertive" ng-click="resetReport()" ng-show="report.createdAt === null">Reset</button>
                <button class="button button-block button-assertive" ng-click="deleteReport()" ng-show="report.createdAt !== null">Delete</button>
            </div>
        </div>
    </content>
</view>
